body {
  background-color: ghostwhite;
}

li {
  list-style: none;
}

.register-form-wrapper {
  max-width: 450px;
  margin: 0 auto;
}

.avatar {
  border-radius: 4px;
  padding: 2px;
  outline: 1px solid black;
}

.cursor-pointer {
  cursor: pointer;
}

input[type='file'] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 5px;
  cursor: pointer;
  width: 100px;
  text-align: center;
  height: 30px;
  border-radius: 5px;
}

.profile-picture-small {
  max-width: 50px;
  max-height: 50px;
}

.profile-picture-medium {
  max-width: 100px;
  max-height: 100px;
}

.profile-picture-big {
  width: 200px;
  height: 200px;
}
