body {
  background-color: ghostwhite;
}

li {
  list-style: none;
}

.font-12 {
  font-size: 12px;
}

.form-wrapper {
  max-width: 450px;
  margin: 0 auto;
}

.avatar {
  border-radius: 4px;
  padding: 2px;
  outline: 1px solid black;
}

.cursor-pointer {
  cursor: pointer;
}

input[type='file'] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 5px;
  cursor: pointer;
  width: 100px;
  text-align: center;
  height: 30px;
  border-radius: 5px;
}

.profile-picture-small {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.profile-picture-medium {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.profile-picture-big {
  width: 200px;
  height: 200px;
}

.card-img-top {
  width: 100%;
  height: 250px;
  object-fit: contain;
}

.hoverable-card:hover {
  transform: scale(1.05);
}
